name: compile qr
'on':
  push:
    branches:
      - master
      - main
    pull_request:
      - main
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install TeX Live
      uses: zauguin/install-texlive@v4
      with:
        package_file: tl_packages
    - run: pdflatex qr-example.tex
    - run: pdflatex fancyqr-doc.tex
    - uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: poppler-utils
        version: 1.0
    - name: 'Generate previews'
      run: pdftoppm -png -r 300 -f 1 -l 1 ./build/qr-example.pdf preview
    - name: Commit
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add -f "build/qr-example.pdf" "build/fancyqr-doc.pdf" "preview-1.png"
        git commit -m "Newly compiled data"
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        branch: gh-pages
        github_token: ${{ secrets.GITHUB_TOKEN }}
        force: true
